<h1>Favorites-details</h1>

<h3>Welcome, {{userDetail.username}}</h3>

{{#if newArray}}
    {{#each newArray}}
        <p>Título: {{title}}</p>
        <img src="{{poster}}" alt="">
    {{/each}}
{{/if}}