<h1>Signup</h1>


<h2>Signup</h2>
{{!-- Primeira validation pra não dar erro no form --}}
{{!--  enctype="multipart/form-data" --}}
<form action="/signup" method="POST">
    {{!-- O required é pra ter a certeza que será escrito algo neste campo --}}
    <label for=""></label>
    <input type="text" name="username" placeholder="Username" required>

    <label for=""></label>
    <input type="text" name="image" placeholder="Image Url" required>

    <label for=""></label>
    <input type="password" name="password" placeholder="password" required>

    <button type="submit">Create account</button>

</form>

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}