.fixed-top{
  /* background-color: #aba5a5; */
}

.search-bar-position{
  z-index: 99999;
  display: inline-flex;
  position: absolute;
  left: 544px;
}

.logo-button{
  width: 65px !important;
  margin-top: -101px;
  position: relative;
  margin-left: 33px;

}

.del-button{
  width: 80px;
  margin-top: 95px;
  position: relative;
  margin-top: -10px !important;

}

.fixing-buttons{
  margin-left: -50px !important;
  margin-top: -12px !important
}

.fixing-heart{
  margin-left: 7px !important;
}

.coloured-heart{
  margin-top: -52px !important;
}

.color-white{
  color:#786450;
}


.fav-button{
  border: 0px;
  background-color: transparent;
  width: 50px;
  z-index: 100000;
  margin-left: 300px;
}


.del-button{
  border: 0px;
  background-color: transparent;
  width: 66px;
  z-index: 100000;
  margin-left: -3px;
}


.center-search-bar{
  height: 30px;
  width: 350px !important;
  margin-top: 10px;
}

.btn-search-style{
  margin-top: 10px;
  height: 30px !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex !important;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
.card{
  box-shadow: 5px 3px 8px #3c3b3b
}

.col-md-4{
  flex: 0 0 auto;
  width: 25.333333%;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px !important;
  
}

.clean-a{
  text-decoration: none;
  color: black
}
.clean-a:hover{
  color: red
}

.clean-a2{
  text-decoration: none;
  color: #cb1110;
  font-size: 27px;
  font-weight: 600;
}

.clean-a2:hover{
  text-decoration: none;
  color: rgb(201, 67, 67)
}

.flex-search{
  display: flex !important;
}

.carousel-item {
	height: 100vh !important;
	min-height: 300px !important;
}
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: poppins;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a {
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}
.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-light .navbar-brand {
	color: rgb(220 12 12 / 90%) !important;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #cb1110 !important;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(201, 67, 67) !important;
}

.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
  color: rgb(220 12 12 / 90%);
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	
}
@media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
}

.btn-danger{
  background-color: rgb(220 12 12 / 90%);
  border-color: rgb(220 12 12 / 90%)
}

/* TEST 2 */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  /* background: -webkit-linear-gradient(left, #df2020, #ff7777); */
  background: #252121!important;
}
::selection{
  background: #cb1110;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #aa3037, #fa4242);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #fa4949;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #c22828;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 30px;
  width: 39%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #bb1919, #fa4242, #b12d2d, #fa4242);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}


/* TEST 3 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
* {
  box-sizing: border-box;
  margin: 0;
}
html, body {
  margin: 0;
  background: black;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.movie_card {
  position: relative;
  display: block;
  width: 400px;
  height: 600px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}

.movie_card-details {

  height: 700px !important;

}

.movie_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}
.movie_card .info_section {
  position: relative;
  width: 50%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
}
.movie_card .info_section .movie_header h1 {
  width: 300px;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400;
}
.movie_card .info_section .movie_header h4 {
  color: #cb1110;
  font-weight: 400;
  font-size: 18px;
}

.title-details{
  margin-top: 400px !important;
  font-size:25px !important;
  margin-left: 23px;
}

.movie-details-card-width{
  width: 300px;
  color: red;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  -webkit-box-orient: vertical;


}

.movie_card .info_section .movie_header .minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
}
.movie_card .info_section .movie_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.movie_card .info_section .movie_desc {
  padding: 25px;
  height: 50%;
}
.movie_card .info_section .movie_desc .text {
  color: #cfd6e1;
}
.movie_card .info_section .movie_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}
.movie_card .info_section .movie_social ul {
  list-style: none;
  padding: 0;
}
.movie_card .info_section .movie_social ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
.movie_card .info_section .movie_social ul li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}
.movie_card .info_section .movie_social ul li i {
  font-size: 19px;
  cursor: pointer;
}
.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}
@media screen and (min-width: 768px) {
  .movie_header {
    width: 60%;
  }
  .movie_desc {
    width: 50%;
  }
  .info_section {
    background: linear-gradient(to right, #000000 14%, transparent 100%);
  }
  .blur_back {
    background-position: -100% 10% !important;
  }
}
@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }
  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }
  .movie_header {
    width: 100%;
    margin-top: 85px;
  }
  .movie_desc {
    width: 100%;
  }
  .info_section {
    background: linear-gradient(to top, #141413 50%, transparent 100%);
    display: inline-grid;
  }
}
#bright {
  box-shadow: 0px 0px 150px -45px rgb(247 247 247 / 50%);
}
#bright:hover {
  box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
}
.bright_back {
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
}
#tomb {
  box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
}
#tomb:hover {
  box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
}
.tomb_back {
  background: url("https://fsmedia.imgix.net/cd/c9/5e/ba/4817/4d9a/93f0/c776ec32ecbc/lara-crofts-neck-looks-unnatural-in-the-new-poster-for-tomb-raider.png");
}
#ave {
  box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);
  margin-bottom: 200px;
}
#ave:hover {
  box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
}
.ave_back {
  background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg");
}

.movie_card .info_section .movie_header .locandina {
  position: relative;
  float: initial;
  margin-right: 20px;
  height: 328px;
  box-shadow: 0 0 20px -10px rgb(0 0 0 / 50%);
  width: 344px;
}


/* TEST 4 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
 .frame {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 /* width: 400px; */
	 /* height: 400px; */
	 margin-top: -200px;
	 margin-left: -200px;
	 border-radius: 2px;
	 box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
	 background: #e07777 !important;
	 background: -webkit-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
	 background: -moz-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
	 background: -o-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
	 background: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEBE6C', endColorstr='#CA7C4E',GradientType=1);
	 color: #000000;
	 font-family: 'Open Sans', Helvetica, sans-serif;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
 .center {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 380px;
  width: 390px;
  background: white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgb(248 248 248 / 30%);
}
 .profile {
	 float: left;
	 width: 200px;
   height: 380px;
	 text-align: center;
   background: #f5dfe0;
}
 .profile .image {
	 position: relative;
	 width: 70px;
	 height: 70px;
	 margin: 38px auto 0 auto;
}
 .profile .image .circle-1, .profile .image .circle-2 {
	 position: absolute;
	 box-sizing: border-box;
	 width: 76px;
	 height: 76px;
	 top: -3px;
	 left: -3px;
	 border-width: 1px;
	 border-style: solid;
	 border-color: #000000 #000000 #000000 transparent;
	 border-radius: 50%;
	 transition: all 1.5s ease-in-out;
}
.div-rounding-img{
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin-bottom: -87px;
}

.rounding{
  border-radius: 50%;
  width: 100px !important;
  height: 100px !important;
}
 .profile .image .circle-2 {
	 width: 82px;
	 height: 82px;
	 top: -6px;
	 left: -6px;
	 border-color: #000000 transparent #000000 #000000;
}

 .profile .image img {
	 display: block;
	 border-radius: 50%;
	 background: #f5e8df;
}
 .profile .image:hover {
	 cursor: pointer;
   border-color: #f70000 transparent #ff0000 #ff0000!important;
}
 .profile .image:hover .circle-1, .profile .image:hover .image .circle-2, .profile .image .image:hover .circle-2 {
	 transform: rotate(360deg);
   border-color: #f70000 transparent #ff0000 #ff0000!important;
}
 .profile .image:hover .circle-2 {
	 transform: rotate(-360deg);
   border-color: #f70000 transparent #ff0000 #ff0000!important;
}
 .profile .name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.username-smaller{
  font-size: 12px !important;
  margin-top: 5px !important;
}

 .profile .job {
	 font-size: 11px;
	 line-height: 15px;
}
 .profile .actions {
	 margin-top: 33px;
}
 .profile .actions .btn {
	 display: block;
	 width: 120px;
	 height: 30px;
	 margin: 0 auto 10px auto;
	 background: none;
	 border: 1px solid #000000;
	 border-radius: 15px;
	 font-size: 12px;
	 font-weight: 600;
	 box-sizing: border-box;
	 transition: all 0.3s ease-in-out;
	 color: #000000;
}
 .profile .actions .btn:hover {
   border: 1px solid #b93c3c !important;
	 background: #b93c3c;
	 color: #fff;
}
 .stats {
	 float: left;
}
 .stats .box {
  box-sizing: border-box;
  width: 190px;
  height: 126px;
  background: #f5dfe0;
  text-align: center;
  padding-top: 28px;
  transition: all 0.4s ease-in-out;
  /* border: 1px solid black; */
}
 .stats .box:hover {
  border: 1px solid #b93c3c !important;
  background: #b93c3c;
  color: #fff;
	 cursor: pointer;
}
 .stats .box:nth-child(2) {
	 margin: 1px 0;
}
 .stats span {
	 display: block;
}
 .stats .value {
	 font-size: 18px;
	 font-weight: 600;
}
 .stats .parameter {
	 font-size: 11px;
}
 
.search-btn-radius{
  background-color: #f4dfdf;
  width: 135px;
  padding: 3px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  margin: 16px auto 10px auto;
}

.to-top{
  margin-top: -4px !important;
  margin-bottom: 30px !important;
}

.match-card{
  position:absolute;
  z-index:0;
  height: 719px;
    width: 400px;
}

/************************
Tinder Template by Miami
/* ************************/
/* @import 'https://fonts.googleapis.com/css?family=Dynalight'; */

/* .tbg {
    height: 720px;
    width: 400px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
}
.tbgwrap {
    padding: 10px;
    filter: blur(100px);
    -webkit-filter: blur(20px);
}
.theader {
    height: 65px;
    border-bottom: 1px solid #c0c0c0;
    filter: blur(100px);
    -webkit-filter: blur(20px);
}
.theader i.fa-comments {
    color: #c0c0c0;
    font-size: 40px;
    display: inline-block;
    float: right;
    padding: 10px 20px;
    position: relative;
}
.theader i.fa-cog {
    color: #c0c0c0;
    font-size: 40px;
    display: inline-block;
    float: left;
    padding: 10px 20px;
    position: relative;
}
.tlogo { width: 100px; margin: 0 auto; padding: 10px; }
.tlogo img { width: 100px; }
.tphoto {
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border: 1px solid #c0c0c0;
    padding-bottom: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #c0c0c0;
}
.tphoto img {}
.tname {
    padding: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    float: left;
}
.tname .age { font-weight: 200; }
.tinfo { font-family: 'Helvetica', sans-serif; }
.tinfo .fa-users, .tinfo .fa-book {
    color: #c0c0c0;
    float: right;
    position: relative;
    font-size: 24px;
    padding: 12px;
}
.tcontrols {}
.tno {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 50px;
    left: 25px;
    border: 10px solid #f0f0f0;
}
.tno i {
    color: #ff695b;
    font-size: 80px;
    padding: 17px 28px;
}
.ti {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    position: relative;
    display: inline-block;
    left: 12px;
    top: 30px;
    border: 10px solid #f0f0f0;
}
.ti .fa-info {
    font-size: 23px;
    padding: 15px 20px;
    color: #398beb;
}
.tyes {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 48px;
    left: 0px;
    border: 10px solid #f0f0f0;
}
.tyes i {
    color: #5de19c;
    font-size: 60px;
    padding: 35px 30px;
}
.credit {
    width: 400px;
    height: auto;
    position: relative;
    top: 60px;
    text-align: center;
    background-color: #f0f0f0;
    padding: 2px 0px;
}
.credit a {
    font-size: 7px;
    letter-spacing: 5px;
    color: #c0c0c0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}
.match {
    height: 719px;
    width: 400px;
    background-color: rgba(51,51,51,0.75);
    position: absolute;
    z-index: 999999;
}
.mtext {
    color: #fff;
    font-size: 38px;
    text-align: center;
    padding: 20px;
    position: relative;
    top: 18px;
    color: #cb1110;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.m1, .m2 {
    background-color: #fff;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    margin: 10px;
    display: inline-block;
    left: 30px;
    top: 40px;
}
.m1 img, .m2 img {
    width: 150px;
    height: 150px;
}
.sendmsg, .playing {
    margin: 0 auto;
    color: #fff;
    font-size: 22px;
    position: relative;
    border: 1px solid #fff;
    width: 250px;
    padding: 15px 20px 15px 50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    top: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
}
.sendmsg i, .playing i { font-size: 30px; padding-right: 8px; }
.playing i { padding-right: 12px; font-size: 34px; }
.share {
    color: #fff;
    position: relative;
    font-family: 'Poppins', sans-serif;
    top: 150px;
    font-size: 20px;
    font-weight: 200;
    margin: 0 auto;
    text-align: center;
}
.share i { font-size: 24px; padding: 5px; }

.pull-text{
  z-index: 999999999;
} */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.alert_box,
.show_button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.show_button{
  height: 55px;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  line-height: 55px;
  background: #2980b9;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.show_button:hover{
  background: #2573a7;
}
.background{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.alert_box{
  padding: 30px;
  display: flex;
  background: #fff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
  width: 100%;
  border-radius: 5px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% , -50%) scale(0.97);
  transition: all 0.3s ease;
}
#check:checked ~ .alert_box{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% , -50%) scale(1);
}
#check:checked ~ .background{
  opacity: 1;
  pointer-events: auto;
}
#check{
  display: none;
}
.alert_box .icon{
  height: 100px;
  width: 100px;
  color: #f23b26;
  border: 3px solid #f23b26;
  border-radius: 50%;
  line-height: 97px;
  font-size: 50px;
}
.alert_box header{
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0;
}
.alert_box p{
  font-size: 20px;
}
.alert_box .btns{
  margin-top: 20px;
}
.btns label{
  display: inline-flex;
  height: 55px;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  line-height: 55px;
  outline: none;
  margin: 0 10px;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.btns label:first-child{
  background: #2980b9;
}
.btns label:first-child:hover{
  background: #2573a7;
}
.btns label:last-child{
  background: #f23b26;
}
.btns label:last-child:hover{
  background: #d9210d;
}