
<div class="container">
      <input type="checkbox" id="check">
      <label class="show_button" id="check" for="check">Click Me</label>
      <div class="background"></div>
      <div class="alert_box">
        <div class="icon">
            <i class="far fa-heart"></i>
        </div>
        <header>Yes!</header>
        <p>You have a match!</p>
        <div class="btns">
          <label for="check">Continue</label>
        </div>
      </div>
    </div>

    {{#if testMatch}}
    <script>
    window.onload = function(){
        const button = document.getElementById('check');
        button.click()
    }
    </script>
{{/if}}