<h1>TEST DA POP UP</h1>

{{!-- LOGOUT BONITINHO - BOTÃO --}}
{{!-- ADICIONAR A SEGUNDA CARINHA PRA QUANDO TIVER LOGADO--}}
<div class="frame">
    <div class="center">
          <div class="profile">
              <div class="image">
                  <div class="circle-1"></div>
                  <div class="circle-2"></div>
                  <img src={{checkuserInfo.image}} width="70" height="70" alt="LionCat">
              </div>
              
              <div class="name">{{checkUserInfo.name}}</div>
              </div>
          </div>
          
  </div>

